.home-container {
    padding: 10px;
    width: 100%;
    .game-title {
        font-family: 'Passion One', cursive;
        font-size: 100px;
        text-shadow: 2px 2px 5px #617374;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin: 50px auto;
    }
    .username {
        &.hide {
            display: none;
        }
    }
    .start-btn {
        display: none;
    }
    .start-btn {
        &.show {
            display: block;
        }
    }
    .logout-btn {
        opacity: 0;
        &.show {
            opacity: 1;
        }
    }
}