.leaderboard {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    background: darken(#95a5a6, 10%);
    padding: 50px 30px;
    counter-reset: item;
    &.show {
        opacity: 1;
        pointer-events: all;
        z-index: 50;
    }
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    h1 {
        font-family: 'Passion One', cursive;
        font-size: 60px;
        margin: 30px auto;
    }
    .leaderboard-item {
        padding: 10px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        h4 {
            padding: 0 20px;
        }
        p {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            text-align: right;
        }
        &:first-child {
            background: black;
            color: white;
        }
        &:not(:last-child) {
            border-bottom: 1px solid darken(#95a5a6, 20%);
        }
        &::before {
            counter-increment: item;
            content: counter(item);
        }
    }
    .close-btn {
        cursor: pointer;
        &:before,
        &:after {
            content: "";
            width: 20px;
            height: 5px;
            background: white;
            display: inline-block;
            position: relative;
        }
        &:after {
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            left: -10px;
        }
        &:before {
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            left: 10px;
        }
    }
}