.player-container {
    padding: 10px;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity 0.6s, transform 0.6s;
    transition: opacity 0.6s, transform 0.6s;
    &.hide {
        opacity: 0;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    .logout-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;
    }
    span span {
        font-size: 30px;
        color: #617374;
        font-weight: bold;
        margin: 0 10px;
    }
}
