.countdown-container {
    opacity: 0;
    z-index: -1;
    border: 2px solid orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    transition: opacity 0.3s;
    &.show {
        z-index: 20;
        opacity: 1;
        display: block;
    }
}