.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #34495e;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    transition: opacity 0.3s ease-in;
    input {
        max-width: 300px;
        margin: 0 auto;
    }
    p {
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &.hidden {
        z-index: -1;
        opacity: 0;
        pointer-events: none;
    }
}